{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
        .carousel-item img {
            object-fit: cover;
            height: 1000px;
            width: 100%;
        }
</style>
    <div class="container-fluid p-5">
        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
            <!-- Indicateurs -->
            <ol class="carousel-indicators">
                <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
                <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
                <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
            </ol>
            
            <!-- Images -->
            <div class="carousel-inner">
            {% for key, voiture in listeVoiture %}
                {% if key == 0 %}
                    {% set active = " active" %}
                {% else %}
                    {% set active = "" %}
                {% endif %}
                <div class="carousel-item{{active}}">
                    <a href="#">
                        <img src="{{ asset('images/' ~ voiture.image ~ '') }}" alt="Image {{voiture.modele}}" class="d-block w-100">
                    </a>
                </div>
            {% endfor %}
            </div>
            
            <!-- Flèches -->
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Précédent</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Suivant</span>
            </a>
        </div>
    </div>
{% endblock %}
